<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <h2 class="about"><a href="/">Home</a></h2>
    <div class="aboutstyle">
        <h1>About Us</h1>
        <p>Welcome to News and Videos aggregation site, your source for videos and articles! 
          Whether you're a casual newsgoer or a someone who wants to be up to date, we've got you covered.</p>
        <h2>Mission</h2>
        <p>Our goal with our project is to make finding news easier. We offer a wide berth of up to date videos and articles 
           in a variety of categories. We offer news in the General, Entertainment, Sports, and Science categories. We utilized 
           Rest API calls to instantly access recent and relevant information.</p>
      
        <h2>Our Team</h2>
        <h2> Project Members: Anav Chug, Jason Priddy, Christopher Page</h2>
      
        <h2>Our Commitment</h2>
        <p>Our team is dedicated to providing you with up-to-date information. We're passionate about news and 
            want to help you remain informed about whats going on in the world.</p>
      
        <h2>Get Started</h2>
        <p>Feel free to explore our website, search for your favorite news categories 
           such as General, Entertainment, Sports and Science. Video or Article happy news viewing!</p>
      </div>
</body> 
</html>