<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" defer src="js/application.js"></script>
    <link rel="stylesheet" href="css/newsStyles.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="./images/newsicon.png" type="image/PNG">
</head>
<body>
    
    <div class="header-content">
            <h1 style="font-family:'Courier New', Courier, monospace;"> News and Video Aggregator</h1>
    </div>
    <h1 class="home"><a href="/">Home</a></h1> 
    <h1 class="about"><a href="/about">About</a></h1> 

    <div class="nav-flex"> 
        <h2 class="nav-item"><a href="/" data-category="general">General</a></h2>
        <h2 class="nav-item"><a href="/entertainment" data-category="entertainment">Entertainment</a></h2>
        <h2 class="nav-item"><a href="/sports" data-category="sports">Sports</a></h2>
        <h2 class="nav-item"><a href="/science" data-category="science">Science</a></h2>
    </div>

    
    <h1 class="section-header"> Articles </h1>
    <div id = "news"></div>
    <h1 class="section-header"> Video Content</h1>
    <div id="videos"> </div>
    
</body>
</html>