<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" defer src="js/application.js"></script>
    <link rel="stylesheet" href="css/newsStyles.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    
   
    <div class="nav-flex">
        <h2 class="nav-item"><a href="/entertainment" data-category="entertainment">Entertainment</a></h2>
        <h2 class="nav-item"><a href="/sports" data-category="sports">Sports</a></h2>
        <h2 class="nav-item"><a href="/science" data-category="science">Science</a></h2>
    </div>

    
    <h1> Articles </h1>
    <div id = "news"></div>
    <h1> Video Content</h1>
    <div id="videos"> </div>
    
</body>
</html>