
body{

  background-color: hsl(210, 20%, 90%); 
  color: #333; 
}


h1{

    text-align: center;
}

.section-header{

    border-bottom: 5px solid black;
}

.header-content{

  text-align: center;
  background-color: lightblue;
  padding:10px;
}

#videos{

    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:75px;
    margin-top:20px;
}

#videos div{

    width:25%;

}

.nav-flex{

   display:flex;
   justify-content: space-around;

}

#videos img{

    width:90%;
}

  .main-nav {
    display: flex;
    
  }

  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 5px;
    width:25%;
    text-align: center;
  }
  
  .nav-item a {
    display: block;
    padding: 5px 10px; 
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000000;
  }

  .aboutstyle{
    text-align: center;
    background-color: rgb(57, 202, 255), 246, 241);
    
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: Arial, sans-serif; 
  }
  
  .about{
    column-rule: 20px;
    display: block;
    padding: 5px 10px; 
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #000000;
   
  }
  
  .nav-item a:hover {
    background-color: #000000;
  }
  #videos h3{
    color: black;
  }
  #videos a{
    text-decoration: none;
  }