#news {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin:75px;
  margin-top:20px;
}
#news div{

  width:25%;

}

#news img{

  width:90%;
  height:70%;
}
#news h3{
  color: black;
}
#news a{
  text-decoration: none;
}
/* .newsTitleHeader.a:hover{
  background-color: blue;
} */

